body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

div {
    width: 25%;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.button-container {
    display: flex;
    justify-content: flex-start; /* Alinear a la izquierda */
    align-items: flex-start; /* Alinear arriba */
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px; /* Añadir un padding izquierdo para separación */
}
.button {
    margin-right: 5px; /* Solo establecemos margen a la derecha */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Estilo para el primer botón, no se necesita margen a la izquierda */
.button:first-child {
    margin-left: 0;
}

.button:hover {
    background-color: #45a049;
}
.titulo{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
}